{% extends "climate/layout.html" %}
{% load static %}
{% block body %}

<h1 class="text-center" id="opinion"> OPINION</h1>

<form method="post" class="was-validated" id="contactForm" >
    {% csrf_token %}

    <!-- Name Input -->
    <div class="form-floating mb-3">
      <input name="name" class="form-control" id="name" type="text" placeholder="Your Name" required />
      <label for="name">Name</label>
      
    </div>

    <!-- Email Input -->
    <div class="form-floating mb-3">
      <input name="email" class="form-control" id="emailAddress" type="email" placeholder="Email Address" required/>
      <label for="emailAddress">Email Address</label>
      
    </div>

    <!-- Message Input -->
    <div class="form-floating mb-3">
      <textarea name="subject" class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;" required></textarea>
      <label for="message">Message</label>
    </div>

    <!-- Submit button -->
    <div class="d-grid">
      <button class="btn btn-primary" id="submitButton" type="submit">Submit</button>
    </div>
  </form>

{% endblock %}